/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 5, 2018, 8:27:43 AM
    Author     : kartoone
*/

body {
    background:#ffffff;
}


a.delete:hover { 
    color:red;
    font-weight:bold
}

h3.message {
    display:block;
    background:#aaa;
    border:1px solid #000;
}

table td {
    padding:10px;
    border:1px solid #eee;
}

div#usermenu {
    width:100%;
    height:3em;
    background:##cee8dd;
    padding:0;
}

div#workermenu {
    width:100%;
    height:3em;
    background:#cee8dd;
    padding:0;
}

div#adminmenu {
    width:100%;
    height:3em;
    background:##cee8dd;
    padding:0;
}