/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 5, 2018, 8:27:43 AM
    Author     : kartoone
*/

body {
    background:#ffffff;
}


a.delete:hover {
    color:red;
    font-weight:bold
}

h3.message {
    display:block;
    background:#aaa;
    border:1px solid #000;
}

table td {
    padding:10px;
    border:1px solid #eee;
}

div.menu {
    width:100%;
    background:#cee8dd;
    padding:0;
    text-align:center;
}

div.workermenu {
    background:#cccc77;
}

div.adminmenu {
    background:#cc7777;
    padding:0;
    text-align:center;
}

div#containerdiv {
    width:800px;
    float:center;
    margin:0 auto;
    text-align:center;
}

h1 {
  text-align: center;
}

h4#login{
  text-align: center;
  font-weight: normal;
}

p#login{
  text-align: center;
}

h4#signup{
  text-align: center;
  font-weight: normal;
}

p#signup{
  text-align: center;
}

h4#forgotpassword{
  text-align: center;
  font-weight: normal;
}

p#forgotpassword{
  text-align: center;
}

h4#adminadd{
  text-align: center;
  font-weight: normal;
}

p#logoutam{
  text-align: left;
}

/* avoid putting a paragraph inside a form, let's reserve that for codeigniter error messages */
form p {
    color:red;
    font-weight:bold;
}
form select, form input {
    margin-bottom:6px;
}
form input[name="accessories[]"] {
    margin-bottom:0;
}
