/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 5, 2018, 8:27:43 AM
    Author     : kartoone
*/

/*body {
    background-color: navy;
}*/

a.delete:hover { 
    color:red;
    font-weight:bold
}

h3.message {
    display:block;
    background:#aaa;
    border:1px solid #000;
}

table td {
    padding:10px;
    border:1px solid #eee;
}

body {
    background:#ffff00;
}

div#usermenu {
    width:100%;
    height:3em;
    background: #00ff00;
    padding:0;
    
}
